%h2 Commissioner's Maintenance Page

%br

.container
  .row
    .col-sm-12.text-center
      .alert.alert-success
        %br
        You are currently in
        %span.badge {{web_state.current_season.name}}
        Week Number
        %span.badge {{week.week_number}}
        %br
        %br

  .row
    .col-sm-6.col-sm-offset-3.text-center
      .alert.alert-info This Week is {{current_week_status()}}

  .row
    .col-sm-6.col-sm-offset-3.text-center

      %button.btn.btn-warning{"ng-click"=>"close_or_reopen_picks()", type: "submit"} {{close_or_open_button_text()}}
      %button.btn.btn-danger{"ng-click"=>"open('')", type: "submit"} Move to Next Week

  %br

  .row
    .col-sm-2 Current Broadcast Message
    .col-sm-10
      %textarea.form-control{"rows" => "3", "ng-model" => "web_state.broadcast_message"}
  .row
    .col-sm-2.col-sm-offset-2
      %button.btn.btn-info{"ng-click"=>"save(web_state)", type: "submit"} Save Broadcast Message

%h3 Unpicked Pool Entries

.container{"ng-controller" => "AdminPoolEntriesCtrl"}
  .row
    %table.table.table-striped
      %thead
        %tr
          %th Person Name
          %th Pool Entry Name
          %th Phone Number
          %th Email
      %tbody{"ng-repeat" => "pool_entry in unpicked_pool_entries | orderBy : 'user.name' "}
        %tr
          %td {{pool_entry.user.name}}
          %td {{pool_entry.team_name}}
          %td {{pool_entry.user.phone}}
          %td {{pool_entry.user.email}}

%h3 Lock a Matchup
%p No one will be able to change their pick to or from this game once it is locked.

.row
  .matchup-select.col-md-6
    %select.form-control{"ng-model"=>"matchupToLock", "ng-options"=>"matchup as (matchup | matchupDisplay | orderBy: 'game_time') for matchup in matchups"}
  .col-md-6
    %button.btn.btn-danger{"ng-click"=>"updateMatchupLock(true)"} LOCK Matchup
    %button.btn.btn-info{"ng-click"=>"updateMatchupLock(false)"} UNLOCK Matchup

%br

.row
  .col-sm-12
    .alert.alert-success{"ng-if"=>"savedMessage"} {{savedMessage}}

%div
  %script{:id => "confirmAdvanceWeekModal.html", :type => "text/ng-template"}
    .modal-header
      %h3.modal-title Move to Next Week?
    .modal-body
      %p You cannot move weeks backwards!
    .modal-footer
      %button.btn.btn-primary{"ng-click" => "ok()"} Advance Week
      %button.btn.btn-warning{"ng-click" => "cancel()"} Cancel
