%h2 Commissioner's Maintenance Page

%br

.row
  .col-sm-5
    %p.bg-success.text-center
      %br
      You are currently in Season
      %span.badge {{week.season_id}}
      Week Number
      %span.badge {{week.week_number}}
      %br
      %br

.row
  .col-sm-6
    %span.badge This Week is {{current_week_status()}}
    %br
    %br

.row

  %form.form-horizontal

    .form-group
      %button.btn.btn-warning{"ng-click"=>"close_or_reopen_picks()", type: "submit"} {{close_or_open_button_text()}}
      %button.btn.btn-danger{"ng-click"=>"advance_week()", type: "submit"} Move to Next Week

    %br

    .form-group
      %label.col-sm-2 Current Broadcast Message
      .col-sm-10
        %input.form-control{"type" => "text", "ng-model" => "web_state.broadcast_message"}


    %button.btn.btn-info{"ng-click"=>"save(week)", type: "submit"} Save Broadcast Message