%a Edit an Nfl Team

%br
This page is under development
%br

%label Name
%input{"type" => "text", "ng-model" => "nfl_team.name"}
%br

%label Conference
%input{"type" => "text", "ng-model" => "nfl_team.conference"}
%br

%label Division
%input{"type" => "text", "ng-model" => "nfl_team.division"}
%br


%pre{"ng-bind" => "nfl_team | json"}