%h3 NFL Teams Index

%br
Click a team row for more information

%br
Controller: {{controller}}

%br

%table.table.table-striped{"ng-controller" => "NflTeamsCtrl"}
  %tbody{"ng-repeat" => "nfl_team in nfl_teams", "ng-click" => "selectTeam(nfl_team)", "ng-switch" => "on=isSelected(nfl_team)"}
    %tr
      %td{"width" => "15%"}
        %img{"src" => "{{nfl_team.logo_url_small}}" }
      %td{"colspan" => "6"} {{ nfl_team.name }}
    %tr{"ng-switch-when" => 'true'}
      %td
      %td {{ nfl_team.conference }}
      %td {{ nfl_team.division }}
      %td Color: {{ nfl_team.color }}
      %td Abbreviation: {{ nfl_team.abbreviation }}
      %td Home Field:{{ nfl_team.home_field }}
      %td
        %a.btn.btn-primary{"ng-href" => "#/nfl_teams/{{nfl_team.id}}", role: "button"} Edit
        %a.btn.btn-danger{"ng-click" => "deleteTeam(nfl_team)", role: "button"} Delete

%a.btn.btn-primary{"ng-href" => "#/nfl_teams/new", role: "button"} Create New Team