%h3 NFL Teams Index

%br
Click a team row for more information

%table.table.table-bordered{"ng-controller" => "NflTeamsCtrl"}
  %tbody{"ng-repeat" => "nfl_team in nfl_teams", "ng-click" => "selectTeam(nfl_team)", "ng-switch" => "on=isSelected(nfl_team)"}
    %tr
      %td{"colspan" => "3"} {{ nfl_team.name }}
    %tr{"ng-switch-when" => 'true'}
      %td {{ nfl_team.conference }}
      %td {{ nfl_team.division }}
      %td
        %a.btn.btn-primary{"ng-href" => "#/nfl_teams/{{nfl_team.id}}", role: "button"} Edit
        %a.btn.btn-danger{"ng-href" => "#/nfl_teams/{{nfl_team.id}}/delete", role: "button"} Delete


%a.btn.btn-primary{"ng-href" => "#/nfl_teams/new", role: "button"} Create New Team