<h2>Weeks Index for season {{season_id}}</h2>
<br>
<br>
Controller: {{controller}}
<br>
<table class='table table-striped' ng-controller='WeeksCtrl'>
  <tr>
    <th>Season</th>
    <th>Week #</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Deadline</th>
    <th>Actions</th>
  </tr>
  <tr ng-repeat='week in weeks'>
    <td>{{ week.season_id }}</td>
    <td>{{ week.week_number }}</td>
    <td>{{ week.start_date | date : 'shortDate' }}</td>
    <td>{{ week.end_date | date : 'shortDate' }}</td>
    <td>{{ week.deadline | date : 'shortDate' }}</td>
    <td>
      <a class='btn btn-primary' ng-href='#/seasons/{{season_id}}/weeks/{{week.id}}' role='button'>Edit</a>
      <a class='btn btn-danger' ng-click='deleteWeek(week)' role='button'>Delete</a>
      <a class='btn btn-success' ng-href='#weeks/{{week.id}}/matchups/admin'>Week {{week.week_number}} Matchups</a>
    </td>
  </tr>
</table>
<a class='btn btn-primary' ng-href='#/seasons/{{season_id}}/weeks/new' role='button'>Create New week in Season {{season_id}}</a>
