%h3.gold.text-center Matchups - Admin

%br
%a.btn.btn-info.btn-lg{"ng-href" => "#/weeks/{{week_id}}/matchups/new", role: "button"} Create New Matchup This Week
%br

%table.table.table-striped
	%thead
		%tr
			%th
			%th Home Team
			%th 
			%th Away Team
			%th 
			%th Game Time (EASTERN)
	%tbody.gold{"ng-repeat" => "matchup in all_matchups"}
		%tr
			%td
			%td
				%img{"src" => "{{matchup.home_team.logo_url_small}}" }
			%td
				%p.team-name {{ matchup.home_team.name}}
			%td
				%img{"src" => "{{matchup.away_team.logo_url_small}}" }
			%td
				%p.team-name {{ matchup.away_team.name}}
			%td
				%p {{ matchup.game_time | date : 'fullDate' }} {{ matchup.game_time | date : 'shortTime' }}
				%a.btn.btn-info.btn-lg{"ng-href" => "#/weeks/{{week_id}}/matchups/{{matchup.id}}", "ng-hide" => "matchupCompleted(matchup)", role: "button"} Edit
				%a.btn.btn-danger.btn-lg{"ng-hide" => "matchupCompleted(matchup)", "ng-click" => "deleteMatchup(matchup)"} Delete
				%p.team-name{"ng-show" => "matchupCompleted(matchup)"} 
					GAME COMPLETED
				%p.team-name{"ng-show" => "matchupCompleted(matchup)"} 
					Winner: {{winningTeam(matchup)}}