%h3 Matchups - Admin

%br
%a.btn.btn-primary{"ng-href" => "#/weeks/{{week_id}}/matchups/new", role: "button"} Create New Matchup This Week
%br

%table.table.table-striped
	%thead
		%tr
			%th
			%th Home Team
			%th Away Team
			%th Game Time (EASTERN)
	%tbody{"ng-repeat" => "matchup in matchups"}
		%tr
			%td
				%p
				%a{"ng-click" => "selectTie(matchup)", "ng-class" => "tie_button_class(matchup)"} Tie Game!
			%td
				%img{"src" => "{{matchup.home_team.logo_url_small}}" }
				%p.team_name {{ matchup.home_team.name}}
				%a{"ng-click" => "selectHomeTeamWin(matchup)", "ng-class" => "home_button_class(matchup)"} {{ matchup.home_team.name }} won!
			%td
				%img{"src" => "{{matchup.away_team.logo_url_small}}" }
				%p.team_name {{ matchup.away_team.name}}
				%a{"ng-click" => "selectAwayTeamWin(matchup)", "ng-class" => "away_button_class(matchup)"} {{ matchup.away_team.name }} won!
			%td
				%p {{ matchup.game_time | date : 'fullDate' }} {{ matchup.game_time | date : 'shortTime' }}
				%a.btn.btn-info{"ng-href" => "#/weeks/{{week_id}}/matchups/{{matchup.id}}", "ng-show" => "displayMatchupEditButtons(matchup)", role: "button"} Edit
				%a.btn.btn-danger{"ng-show" => "displayMatchupEditButtons(matchup)"} Delete
				%a.btn.btn-danger{"ng-show" => "displayOutcomeSaveButtons(matchup)"} Save as Final Outcome
				%a.btn.btn-info{"ng-show" => "displayOutcomeSaveButtons(matchup)", "ng-click" => "cancelOutcomeSelection(matchup)"} Cancel

%a.btn.btn-success{"ng-click" => "saveWeekOutcomes(matchups)"} Save Results of this Week


