%h2 Edit a Matchup

%br
%br

%form.form-horizontal

  .form-group
    %label.col-sm-2 Home Team
    .col-sm-10
      %input.form-control{"type" => "text", "ng-model" => "matchup.home_team.name"}
      %select{"ng-model" => "selected_home_team", "ng-options" => "nfl_team as nfl_team.name for nfl_team in nfl_teams"}

  .form-group
    %label.col-sm-2 Away Team
    .col-sm-10
      %input.form-control{"type" => "text", "ng-model" => "matchup.away_team.name"}
      %select{"ng-model" => "selected_away_team", "ng-options" => "nfl_team as nfl_team.name for nfl_team in nfl_teams"}

  .form-group
    %label.col-sm-2 Game Time
    .col-sm-10
      %input.form-control{"type" => "text", "ng-model" => "matchup.game_time"}

  %button.btn.btn-success{"ng-click"=>"save(matchup)", type: "submit"} Save