%h3 Matchups

%br
Controller: {{controller}}

%br

%table.table.table-striped{"ng-controller" => "MatchupsCtrl"}
	%thead
		%tr
			%th 
			%th Home Team
			%th Away Team
			%th Game Time
	%tbody{"ng-repeat" => "matchup in matchups", "ng-click" => "selectMatchup(matchup)", "ng-switch" => "on=isSelected(matchup)"}
		%tr
			%td
			%td {{ matchup.home_team.name}}
			%td {{ matchup.away_team.name}}
			%td {{ matchup.game_time }}
		%tr{"ng-switch-when" => 'true'}
			%td
			%td 
				%a.btn.btn-primary Pick {{ matchup.home_team.name }} to win!
			%td 
				%a.btn.btn-primary Pick {{ matchup.away_team.name }} to win!
			%td
