%h3 Matchups

%br
Controller: {{controller}}

%br

%table.table.table-striped{"ng-controller" => "MatchupsCtrl"}
	%thead
		%tr
			%th 
			%th Home Team
			%th Away Team
			%th Game Time
	%tbody{"ng-repeat" => "matchup in matchups"}
		%tr
			%td
			%td 
				%p.team_name {{ matchup.home_team.name}} 
				%div
					%a.btn.btn-success{"ng-click" => "handleTeamSelection(matchup, matchup.home_team)"} Pick {{ matchup.home_team.name }} to win!
			%td 
				%p.team_name {{ matchup.away_team.name}}
				%a.btn.btn-success{"ng-click" => "handleTeamSelection(matchup, matchup.home_team)"} Pick {{ matchup.away_team.name }} to win!
			%td 
				%p {{ matchup.game_time }}
				%div{"ng-if" => "isSelectedMatchup(matchup)"}
					%a.btn.btn-primary Save Pick
					%a.btn.btn-info Cancel
