%h3 Matchups

%br
Controller: {{controller}}

%br

%table.table.table-striped{"ng-controller" => "MatchupsCtrl"}
	%thead
		%tr
			%th 
			%th Home Team
			%th Away Team
			%th Game Time
	%tbody{"ng-repeat" => "matchup in matchups", "ng-click" => "selectMatchup(matchup)", "ng-switch" => "on=isSelected(matchup)"}
		%tr
			%td
			%td 
				%p.team_name {{ matchup.home_team.name}} 
				%a.btn.btn-success Pick {{ matchup.home_team.name }} to win!
			%td 
				%p.team_name {{ matchup.away_team.name}}
				%a.btn.btn-success Pick {{ matchup.away_team.name }} to win!
			%td {{ matchup.game_time }}
