%h3 Matchups

%br
Controller: {{controller}}

%br

.row
	.col-md-4{"ng-repeat"=>"pool_entry in pool_entries"}
		.panel.panel-warning
			.panel-heading
				.panel-title.text-center
					%h3
						{{registering_user.teams[$index].pool_entry_name}}
			.panel-body
				.text-right
					%span.badge {{team_badge_text($index)}}
				%br
				.text-center
					%h2
						%span.label.label-danger
							KOPOOL 2014
				%br
				.ticket-body
					%em
						%h4
							.text-center {{registering_user.email}}
					%br
					.text-center
						Price includes the price
					%br
					%span.glyphicon.glyphicon-arrow-right
					%span.glyphicon.glyphicon-arrow-right NO REFUNDS
					%span.glyphicon.glyphicon-arrow-left
					%span.glyphicon.glyphicon-arrow-left
					%br
					.text-right
						%h3
							$50.00
				%br
				.text-center
					%button.btn.btn-default.btn-lg
						%span.glyphicon.glyphicon-hd-video
					%button.btn.btn-default.btn-lg
						%span.glyphicon.glyphicon-sound-7-1
					%button.btn.btn-default.btn-lg
						%span.glyphicon.glyphicon-sound-dolby

%table.table.table-striped{"ng-controller" => "MatchupsCtrl"}
	%thead
		%tr
			%th 
			%th Home Team
			%th Away Team
			%th Game Time
	%tbody{"ng-repeat" => "matchup in matchups"}
		%tr
			%td
			%td 
				%p.team_name {{ matchup.home_team.name}} 
				%div
					%a.btn.btn-success{"ng-click" => "handleTeamSelection(matchup, matchup.home_team)"} Pick {{ matchup.home_team.name }} to win!
			%td 
				%p.team_name {{ matchup.away_team.name}}
				%a.btn.btn-success{"ng-click" => "handleTeamSelection(matchup, matchup.home_team)"} Pick {{ matchup.away_team.name }} to win!
			%td 
				%p {{ matchup.game_time }}
				%div{"ng-if" => "isSelectedMatchup(matchup)"}
					%a.btn.btn-primary Save Pick
					%a.btn.btn-info Cancel
