%h3 Live Results From This Round!

%h4 Knocked Out This Week:

%table.table.table-striped{"ng-controller" => "MatchupsCtrl"}
		%thead
			%tr
				%th Team Name
				%th Team Chosen
				%th
				%th
		%tbody{"ng-repeat" => "matchup in matchups"}
			%tr{"ng-class" => "{'unselected-matchup' : (hideMatchups && !isSelectedMatchup(matchup))}"}
				%td
				%td 
					%p.team-name {{ matchup.home_team.name}} 
					%div
						%a.btn.btn-success{"ng-click" => "handleTeamSelection(matchup, matchup.home_team)", "ng-hide" => "isSelectedMatchup(matchup) && !isSelectedTeam(matchup.home_team)"} Pick {{ matchup.home_team.name }} to win!
				%td 
					%p.team-name {{ matchup.away_team.name}}
					%a.btn.btn-success{"ng-click" => "handleTeamSelection(matchup, matchup.away_team)", "ng-hide" => "isSelectedMatchup(matchup) && !isSelectedTeam(matchup.away_team)"} Pick {{ matchup.away_team.name }} to win!
				%td 
					%p {{ matchup.game_time }}
					%div{"ng-if" => "isSelectedMatchup(matchup)"}
						%a.btn.btn-primary{"ng-click" => "savePick(matchup, editing_pool_entry)"} Save Pick
						%a.btn.btn-info{"ng-click" => "cancelTeamSelection()"} Cancel

%h4 Still Alive!