%h3.gold.text-center Matchups - Admin

.row{"ng-if" => "error_message"}
	.col-sm-12.text-center
		.alert.alert-danger {{error_message}}

%h4.gold.text-center Filtered Matchups - These Matchups Have At Least 1 Pick Associated With Them

%table.table.table-striped
	%thead.gold
		%tr
			%th
			%th Away Team
			%th
			%th Home Team
			%th
			%th Game Time (EASTERN)
	%tbody.gold{"ng-repeat" => "matchup in filtered_matchups"}
		%tr{"ng-hide" => "matchupCompleted(matchup)"}
			%td
				%br
				%br
				%a.btn.btn-success.btn-lg{"id" => "select-tie-{{matchup.id}}", "ng-click" => "selectTie(matchup)", "ng-class" => "tie_button_class(matchup)"} Tie Game!
			%td
				%img{"ng-src" => "{{matchup.away_team.logo_url_small}}" }
			%td
				%h4.team_name {{ matchup.away_team.name}}
				%a.btn.btn-success.btn-lg{"id" => "select-away-{{matchup.id}}", "ng-click" => "selectAwayTeamWin(matchup)", "ng-class" => "away_button_class(matchup)"} {{ matchup.away_team.name }} won!
			%td
				%img{"ng-src" => "{{matchup.home_team.logo_url_small}}" }
			%td
				%h4.team_name {{ matchup.home_team.name}}
				%a.btn.btn-success.btn-lg{"id" => "select-home-{{matchup.id}}", "ng-click" => "selectHomeTeamWin(matchup)", "ng-class" => "home_button_class(matchup)"} {{ matchup.home_team.name }} won!
			%td
				%p {{ matchup.game_time | date : 'fullDate' }} {{ matchup.game_time | date : 'shortTime' }}
				%a.btn.btn-info.btn-lg{"ng-href" => "#/weeks/{{week_id}}/matchups/{{matchup.id}}", "ng-show" => "displayMatchupEditButtons(matchup)", role: "button"} Edit
				%a.btn.btn-danger.btn-lg{"ng-show" => "displayMatchupEditButtons(matchup)", "ng-click" => "deleteMatchup(matchup)"} Delete
				%a.btn.btn-danger.btn-lg{"id" => "save-outcome-{{matchup.id}}", "ng-show" => "displayOutcomeSaveButtons(matchup)", "ng-click" => "open('', matchup)"} Save as Final Outcome
				%a.btn.btn-info.btn-lg{"ng-show" => "displayOutcomeSaveButtons(matchup)", "ng-click" => "cancelOutcomeSelection(matchup)"} Cancel
		%tr{"ng-show" => "matchupCompleted(matchup)"}
			%td
				%a.btn.btn-info.btn-lg{"id" => "revert-outcome-{{matchup.id}}", "ng-click" => "openRevertDialogue('', matchup)"} Revert Outcome
			%td
			%td
				%p.team-name {{ matchup.away_team.name}}
			%td
			%td
				%p.team-name {{ matchup.home_team.name}}
			%td
				%p.team-name Winner: {{winningTeam(matchup)}}

%div
	%script{:id => "confirmOutcomeModal.html", :type => "text/ng-template"}
		.modal-header
			%h3.modal-title Save {{matchup.winning_team_text}}
		.modal-body
			%p This will permanently save this matchup and knock people out!
		.modal-footer
			%button.btn.btn-info.btn-lg{"ng-click" => "cancel()"} Cancel
			%button.btn.btn-success.btn-lg{"ng-click" => "ok()"} Save Outcome

%div
	%script{:id => "revertOutcomeModal.html", :type => "text/ng-template"}
		.modal-header
			%h3.modal-title Revert {{matchup.winning_team_text}}
		.modal-body
			%p Matchup Outcome will be reverted!
		.modal-footer
			%button.btn.btn-info.btn-lg{"ng-click" => "cancel()"} Cancel
			%button.btn.btn-danger.btn-lg{"ng-click" => "ok()"} Revert Outcome
