%h1.gold Reset Your Password
.row
  .col-md-12

    .panel.panel-default
      .panel-heading
        %h3.gold Your User Information

      .row
        .col-md-8
          .panel-body
            %form.form-horizontal{"name" => "passwordForm"}

              .form-group
                %label.gold.col-md-4 New Password
                .col-md-5{"ng-class" => "password_is_valid(updating_user.password)"}
                  %input.form-control{"type" => "password", "ng-model" => "updating_user.password"}

              .form-group
                %label.gold.col-md-4 Confirm New Password
                .col-md-5{"ng-class" => "password_is_valid(updating_user.password_confirmation)"}
                  %input.form-control{"type" => "password", "ng-model" => "updating_user.password_confirmation"}

              %a.btn.btn-info.btn-lg{"ng-click" => "updatePassword()", role: "button"} Set New Password

        .col-md-4{"ng-if" => "error_message"}
          .alert.alert-danger{"ng-hide" => "passwords_match(updating_user.password, updating_user.password_confirmation)"}
            Passwords must match

        .col-md-4{"ng-if" => "alert"}
          .alert.center{"class" => "alert-{{alert.type}}"}
            .ul
              .li{"ng-repeat" => "error in alert.messages"} {{error}}