%h1.text-center.gold Reset Your Password
.row
  .col-md-12

    .panel.panel-default
      .panel-heading
        %h3.gold Your User Information

      .row
        %br
        .col-md-6
          .panel-body
            %form.form-horizontal{"name" => "passwordForm"}

              .row.form-group
                %h3.gold.col-sm-2 Email
                .col-sm-10
                  %input.form-control{"type" => "text", "ng-model" => "user_email", "placeholder"=>"Your Email Address"}
                %br
                %a.btn.btn-success.col-sm-offset-2{"ng-click" => "sendResetPasswordEmail()", role: "button"} Send Reset Password Email

        .col-md-6{"ng-if" => "alert"}
          .alert.center{"class" => "alert-{{alert.type}}"}
            .ul
              .li{"ng-repeat" => "error in alert.messages track by $index"} {{error}}