%h3.gold.text-center All Pool Entries for This Season

%table.table.table-striped
	%thead.gold
		%tr
			%th Person Name
			%th Team Name
			%th Email
			%th Phone
			%th Paid?
			%th 
	%tbody.gold{"ng-repeat" => "pool_entry in pool_entries | orderBy : 'user.name' "}
		%tr
			%td {{pool_entry.user.name}}
			%td {{pool_entry.team_name}}
			%td {{pool_entry.user.email}}
			%td {{pool_entry.user.phone}}
			%td{"ng-class" => "getPaidTextClass(pool_entry)"}	{{getPaidOrUnpaidStatusText(pool_entry)}}
			%td
				%a.btn.btn-success{"ng-click" => "open('', pool_entry)"} Mark as {{getPaidOrUnpaidButtonText(pool_entry)}}
				
%div
	%script{:id => "confirmPaymentModal.html", :type => "text/ng-template"}
		.modal-header
			%h3.modal-title Mark {{pool_entry.user.name}} as {{pool_entry.paid ? "Not Paid" : "Paid"}}
		.modal-body
			%p This will mark {{pool_entry.user.name}} as {{pool_entry.paid ? "Not Paid" : "Paid"}}. Is that correct?
		.modal-footer
			%button.btn.btn-danger{"ng-click" => "cancel()"} Cancel
			%button.btn.btn-info{"ng-click" => "ok()"} Mark as {{pool_entry.paid ? "Not Paid" : "Paid"}}
