%h1.gold Welcome to KOPOOL Registration!
%h2.gold Season {{web_state.current_week.season.name}} Week {{web_state.current_week.week_number}}
.row
  .col-md-8

    .panel.panel-default
      .panel-heading
        %h3.gold.panel-title Your User Information

      .panel-body
        %form.form-horizontal{"name" => "registrationForm"}

          .form-group
            %label.gold.col-sm-2 Name
            .col-sm-5
              %input.form-control#name{"type" => "text", "ng-model" => "registering_user.name", "placeholder"=>"Your Name"}

          .form-group
            %label.col-sm-2 Phone
            .col-sm-5
              %input.form-control#phone{"type" => "text", "ng-model" => "registering_user.phone", "placeholder"=>"Your Phone #"}

          .form-group
            %label.col-sm-2 Email
            .col-sm-5
              %input.form-control#email{"type" => "text", "ng-model" => "registering_user.email", "placeholder"=>"Your Email Address"}

          .form-group
            %label.col-sm-2 Password
            .col-sm-5{"ng-class" => "password_is_valid(registering_user.password)"}
              %input.form-control#password{"type" => "password", "ng-model" => "registering_user.password"}

          .form-group
            %label.col-sm-2 Confirm Password
            .col-sm-5{"ng-class" => "password_is_valid(registering_user.password_confirmation)"}
              %input.form-control#password-confirmation{"type" => "password", "ng-model" => "registering_user.password_confirmation"}

          .form-group
            .col-sm-12
              .alert.alert.alert-danger{"ng-show" => "persist_button_show()"} WARNING! Given the nature of this competition, clicking the SAVE button below is PERMANENT. You will not be able to decrease the number of pool entries you have active after you save. You WILL be able to add more before the first week starts.

          %a.btn#register{"ng-click" => "register()", "ng-class" => "register_button_class()", "ng-disabled" => "!user_can_register()", role: "button"} Register my Username


  .col-md-4
    %br
    %br
    .alert.alert-danger{"ng-show" => "register_error.message != null"}
      {{register_error.message}}
    %br
    .alert.alert-danger{"ng-hide" => "email_valid(registering_user.email)"}
      Email is invalid
    %br
    .alert.alert-danger{"ng-hide" => "passwords_long_enough(registering_user.password, registering_user.password_confirmation)"}
      Passwords must be at least 8 characters
    %br
    .alert.alert-danger{"ng-hide" => "registering_user.password == registering_user.password_confirmation"}
      Passwords must match
    %br
    .alert.alert-danger{"ng-show" => "persisting_pool_entries_failed == true"}
      Your Pool Entry team names must be unique across the entire pool this season.  Be more creative!
    %br
    .alert.alert-warning{"ng-show" => "disable_pool_entry_change()"}
      Can only add pool entries when "open for registration" and week 1