.jumbotron
  .container
    .row
      .col-md-8
        %br
        %h2.gold Payments
        %br
        %h3.gold Zelle: 612-710-2578
        %h3.gold Venmo: @Dave-Fugh
        %h4.gold US Mail: Send payment to: Dave Fugh/17925 20th Ave. North/Plymouth, MN 55447
        %br
        %h3.gold Contact: DaveFugh@KOPool.org 
      .col-md-4
        %img.img-rounded.frontpage-logo{alt: "KO Pool Logo", src: asset_path('kopool-logo-2023.png')}
  .container
    .row
      .col-sm-12
        %h2.gold.text-center Rules and Regulations
        %h3.gold General
        %ul.gold
          %li
            %h5.gold The entry fee is $50 per pool entry. 
          %li
            The commissioner has final say with any dispute.
          %li
            The pool will not be split prior to the completion of week 16. By entering the contest, you agree to play through week 16 or until the pool ends.
          %li
            Your contact information is private and will not be shared.
          %li
            In the event of a website malfunction of any kind, the commissioner has final say regarding that week's picks.
          %li
            %span.red If you choose a game that is canceled or rescheduled to another week, your pick will be defaulted to the MNF home team.
          %li
            %span.red In the event your pick cannot be defaulted to MNF, the commissioner will choose a default game for that week.
    .row
      .col-sm-12
        %h3.gold Submitting Your Weekly Picks
        %ul
          %li
            Choose one team from the current week's NFL schedule that you think will win. If your team wins, you continue in the pool for another week. If your team loses or ties, you are eliminated from the pool. The pool will continue until there is one remaining entrant or the end of the regular season. However, any time after the completion of week 16, all remaining entrants may split the purse if 100% of the remaining entrants agree to split.
          %li
            Picks must be submitted via the website at https://www.kopol.org.
            %span.red I have NO access to anyone's login credentials and therefore cannot make picks for you.
          %li
            You may choose a team more than once during the season. You may choose any team that is playing in the current week.
          %li
            In the event all entrants are eliminated in one week, the pool will be divided evenly.
          %li
            In the event there are remaining entrants at the end of the regular season, the pool will end and winners will be paid.
    .row
      .col-sm-12
        %h3.gold Deadlines
        %ul
          %li
            Thursday games: All Thursday games will be locked
            %span.red 1 hour
            %span before the kickoff of the first Thursday game.
          %li
            Sunday and Monday games: All Sunday and Monday games will be locked
            %span.red 1 hour
            %span before the first kickoff of the first Sunday game (excluding international games).
          %li
            International games: All International games will be locked
            %span.red 1 hour
            %span before the start of the first international game.
          %li
            Any pick not submitted prior to these deadlines are automatically defaulted to the first Monday night (MNF) home team.
          %li
            Once your pick is submitted, you may change it prior to the weekly deadlines.
          %li
            All picks are confidential until they are posted on the website.
    .row
      .col-sm-12
        %h3.gold 2023 Expenses deducted from this year’s purse
        %ul
          %li
            $56.84 - GoDaddy KOPool.org domain fees
          %li
            $127.12 - Heroku hosting fees
          %li
            $3,394.00 - One time security and mandatory web development upgrades to KOPool.org 
          %li
            $500.00 - Web manager annual fee + 4 free pool entries
          %li
            The commissioner is awarded four free pool entries for running the pool


