.jumbotron
  .container
    .row
      .col-md-8
        %h2 KO Pool
        %p Rules and Regulations
        Send payment to:
        %p Dave Fugh
        %p 17925 20th Ave. North
        %p Plymouth, MN 55447

      .col-md-4
        %img.img-rounded.frontpage-logo{alt: "KO Pool Logo", src: asset_path('kopool_c_med.png')}

.container
  .row
    .col-sm-12
      %h4 General
      %ul
        %li
          The entry fee is $50 per pool entry. Payment is due by upon registration.
        %li
          Your participation with late payment is solely the commissioner’s decision.
        %li
          The commissioner has the final say with any dispute.
        %li
          Registration will end on September 1st.
        %li
          The pool will not be split prior to week 15. By entering the contest, the contestant agrees to play until at least week 15 or until the pool ends.
        %li
          In the event of a website malfunction of any kind, the commissioner has final say regarding that week's picks.
        %li
          %span.red In the event the NFL season does not start, all money will be refunded less approximately $580. This is the amount it cost to open the website for 2021.
        %li
          %span.red If you choose a game that is canceled or rescheduled to another week, your pick will be defaulted to the Monday night home team.
        %li
          %span.red In the event your pick cannot be defaulted to MNF, your pick will be defaulted to the Sunday Night Home team. If your pick cannot be defaulted to SNF, the commissioner will choose a default game for that week.
        %li
          %span.red In the event a default pick cannot be made, (For example, a Monday night game canceled on a Monday.) your pick will be eliminated.
        %li
          Choose one team from the current week's NFL schedule that you think will win. If your team wins, you continue in the pool for another week. If your team loses or ties, you are eliminated from the pool. The pool will continue until there is one remaining entrant or the end of the regular season. However, any time after week 14 all remaining entrants may split the pool if 100% of the remaining entrants agree.
        %li
          In the event that all entrants are eliminated in one week, the pool will be divided amongst those entrants.
        %li
          In the event that there are remaining entrants at the end of the regular season, the pool will end and winners will be paid.
        %li
          You may choose a team more than once during the season. You may choose any team that is playing in the current week.
  .row
    .col-sm-12
      %h4 DEADLINES - Submitting your weekly pick.
      %ul
        %li
          Thursday games: All Thursday games will be locked
          %span.red 1 hour
          %span before the kickoff of the first Thursday game.
        %li
          Sunday and Monday games: All Sunday and Monday games will be locked
          %span.red 1 hour
          %span before the first kickoff of the first Sunday game (excluding international games).
        %li
          International games: All International games will be locked
          %span.red 1 hour
          %span before the start of the first international game.
        %li
          Any pick not submitted prior to those deadlines automatically defaults to the first Monday night (MNF) home team.
        %li
          Picks must be submitted via the website at KOPOOL.org.
          %span.red I have NO access to anyone's login credentials and therefore cannot make picks for you.
          %span If necessary, call Dave at 612.710.2578 or email daveandtree@comcast.net.
        %li
          Once your pick is submitted, you may change it as long as your change occurs before the weekly deadlines as described above.
        %li
          All picks will remain confidential until the picks for the week are posted on the website.
        %li
          100% of the money received less $580 will be paid to the winner(s).
        %li
          $80 will be paid to Heroku and GoDaddy for hosting fees.
        %li
          $500 will be paid to the web developers for their website responsibilities.
        %li
          The commissioner is awarded four free pool entries for the administrative duties associated with the pool.
        %li
          The web developers are awarded four free pool entries for their administrative duties associated with the KO Pool.
          
