.jumbotron
  .container
    .row
      .col-md-8
        %h2 KO Pool
        %p Rules and Regulations
        Send payment to:
        %p Dave Fugh
        %p 17925 20th Ave. North
        %p Plymouth, MN 55447

      .col-md-4
        %img.img-rounded.frontpage-logo{alt: "KO Pool Logo", src: asset_path('kopool_c_med.png')}

.container
  .row
    .col-sm-12
      %h4 General
      %ul
        %li
          The entry fee is $50 per pool entry. Payment is due by
          %span.red August 19th.
        %li
          Your participation without payment prior to
          %span.red August 19th
          %span is solely the commissioner’s decision.
        %li
          The commissioner has final say with any dispute.
        %li
          The pool will not be split prior to week 15. By entering the contest, the contestant agrees to play until at least week 15 or until the pool ends, whichever is later.
        %li
          In the event of a website malfunction of any kind, the commissioner has final say regarding that week's picks.
        %li
          Choose one team from the current week's NFL schedule that you think will win. If your team wins, you continue in the pool for another week. If your team loses or ties, you are eliminated from the pool.
        %li
          You may choose a team more than once during the season. You many choose any team that is playing in the current week.
  .row
    .col-sm-12
      %h4 DEADLINES - Submitting your weekly pick.
      %ul
        %li
          Thursday night time deadline is 
          %span.red 6:30 PM EST. 
          %span Once that time passes, you are either locked on the Thursday night game you chose, or a Sunday/Monday game.
        %li
          Anyone not taking the Thursday night game has until 
          %span.red 11 AM EST,
          %span Sunday, to submit a pick. Any pick not submitted prior to 11 AM EST, is defaulted to the first Monday night (MNF) home team.
        %li
          Picks must be submitted via the website at KOPOOL.org.
          %span.red I have NO access to anyone's login credentials and therefore cannot make picks for you.
          %span If necessary, call Dave at 612.710.2578 or email daveandtree@comcast.net.
        %li
          Once your pick is submitted, you may change it as long as your change occurs before the weekly deadlines as described above. 
        %li
          The pool will continue until there is one remaining entrant or the end of the regular season. HOWEVER, anytime after week 14, all remaining entrants may split the pool if 100% of remaining entrants agree.
        %li
          In the event that all entrants are eliminated in one week, the pool will be divided amongst those entrants.
        %li
          In the event that there are remaining entrants at the end of the regular season, the pool ends and winners are paid.
        %li
          All picks will remain confidential until the picks for the week are posted on the website. 
        %li
          100% of the money received (less $50 for website hosting fees) will be paid to the winner(s). The commissioner is awarded two free pool entries for the administrative duties associated with the pool.
        %li
          The web developers are awarded three free pool entries for system maintenance and future upgrades of KOPOOL.org.
          