body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.ticket-body {
  height: 200px;
  background: url(kopool-logo-2023-HalfSize.png) no-repeat;
  background-size: 30%;
  background-position: center
}

.frontpage-logo {
  width: 98%;
  height: auto;
}

.title-text {
	font-size: 60px;
}

.pot-text {
  font-size: 40px;
}

.navbar-group {
	padding-top: 8px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.line-chart {
  height: 400px;
  width: 100%;
}

.pie-chart {
  height: 400px;
  width: 100%;
}

.btn-block {
  margin-top: 40px;
  margin-bottom: 20px;
}

.smaller-title {
  font-size: 26px;
  margin-bottom: 10px;
}

.champions {
  .alert {
    margin-left: 5px;
    margin-right: 5px;
    height: 70px;
    .center {
      vertical-align: middle;
    }
  }
}

.rotated-title-left {
  display: inline-block;
  float: right;
  font-size: 20px;
  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.rotated-title-right {
  display: inline-block;
  font-size: 20px;
  /* Safari */
  -webkit-transform: rotate(45deg);

  /* Firefox */
  -moz-transform: rotate(45deg);

  /* IE */
  -ms-transform: rotate(45deg);

  /* Opera */
  -o-transform: rotate(45deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}