body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.ticket-body {
  height: 200px;
  background: url(kopool_opac_30.png) no-repeat;
  background-size: 100%;
}

.frontpage-logo {
  width: 98%;
  height: auto;
}

.title-text {
	font-size: 60px;
}

.navbar-group {
	padding-top: 8px;
}
