body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.ticket-body {
  height: 200px;
  background: url(kopool_opac_30.png) no-repeat;
  background-size: 100%;
}

.frontpage-logo {
  width: 98%;
  height: auto;
}

.title-text {
	font-size: 60px;
}

.pot-text {
  font-size: 40px;
}

.navbar-group {
	padding-top: 8px;
}

.green {
	color: green;
}

.red {
	color: red;
}

.line-chart {
  height: 400px;
  width: 100%;
}

.pie-chart {
  height: 300px;
  width: 100%;
}