%h2.gold.text-center Weeks Index for season {{season_id}}

%br


%br

%table.table.table-striped
  %tbody.gold
    %tr
      %th Season
      %th Week #
      %th Start Date
      %th End Date
      %th Deadline
      %th Week Actions
      %th Matchup Actions
    %tr{"ng-repeat" => "week in weeks"}
      %td {{ week.season_id }}
      %td {{ week.week_number }}
      %td {{ week.start_date | date : 'shortDate' }}
      %td {{ week.end_date | date : 'shortDate' }}
      %td {{ week.deadline | date : 'shortDate' }}
      %td
        %a.btn.btn-info.btn-lg{"id" => "select-edit-{{week.id}}", "ng-href" => "#/seasons/{{season_id}}/weeks/{{week.id}}", role: "button"} Edit
        %a.btn.btn-danger.btn-lg{"id" => "select-delete-{{week.id}}", "ng-click" => "open('', week)", role: "button"} Delete
      %td
        %a.btn.btn-info.btn-lg{"ng-href" => "#weeks/{{week.id}}/matchups/admin"} Create/Edit Matchups
        %a.btn.btn-success.btn-lg{"ng-href" => "#weeks/{{week.id}}/matchups/scoring"} Score Matchups for Week {{week.week_number}}
      

%a.btn.btn-primary{"ng-href" => "#/seasons/{{season_id}}/weeks/new", role: "button"} Create New week in Season {{season_id}}

%div
  %script{:id => "confirmDeletionModal.html", :type => "text/ng-template"}
    .modal-header
      %h3.modal-title Delete Week {{week.week_number}}?
    .modal-body
      %p This will permanently delete this week! Bad things will happen if this week is completed!
    .modal-footer
      %button.btn.btn-primary.btn-lg{"ng-click" => "ok()"} Delete Week
      %button.btn.btn-warning.btn-lg{"ng-click" => "cancel()"} Cancel
