%h2 Weeks Index for season {{season_id}}

%br

%br
Controller: {{controller}}

%br

%table.table.table-striped{"ng-controller" => "WeeksCtrl"}
  %tr
    %th Season
    %th Week #
    %th Start Date
    %th End Date
    %th Deadline
    %th Actions
  %tr{"ng-repeat" => "week in weeks"}
    %td {{ week.season_id }}
    %td {{ week.week_number }}
    %td {{ week.start_date | date : 'shortDate' }}
    %td {{ week.end_date | date : 'shortDate' }}
    %td {{ week.deadline | date : 'shortDate' }}
    %td
      %a.btn.btn-primary{"ng-href" => "#/seasons/{{season_id}}/weeks/{{week.id}}", role: "button"} Edit
      %a.btn.btn-danger{"ng-click" => "deleteWeek(week)", role: "button"} Delete
      %a.btn.btn-success{"ng-href" => "#weeks/{{week.id}}/matchups/admin"} Week {{week.week_number}} Matchups

%a.btn.btn-primary{"ng-href" => "#/seasons/{{season_id}}/weeks/new", role: "button"} Create New week in Season {{season_id}}
