.jumbotron
  .container
    .row
      .col-sm-4
        
      .col-sm-4
      .col-sm-4
        .div.text-center
          .btn-group{:dropdown => ""}
            %button.btn.btn-warning{:type => "button"} Previous Rounds
            %button.btn.btn-warning.dropdown-toggle{:type => "button"}
              %span.caret
              %span.sr-only Split button
            %ul.dropdown-menu{:role => "menu"}
              %li{"ng-repeat"=>"week in season_weeks"}
                %a{href:"#/weeks/{{week.id}}/results"}
                  Round {{week.week_number}} Results
    .row
      .col-md-4
        %h3.text-center.gold KO'd This Round
        %div.title-text.text-center.text-danger {{knocked_out_this_week_count()}}
        
      .col-md-4
        %h3.text-center.gold Still Alive
        %div.title-text.text-center.green {{still_alive_count()}}
        
      .col-md-4
        %h3.text-center.gold KO'd Previous Rounds
        %div.title-text.text-center.purple {{knocked_out_previously_count()}}

    .row
      .col-md-6.buble-image-container
        %img{ src: "{{bubble_image_url}}", height: "300", width: "300", alt: "bubble-image" }

      .col-md-6{"ng-controller" => "KopoolChartsCtrl"}
        %div#pie-chart{style: 'height: 300px;'}
          %chart{"data" => "pie_data", "config" => "pie_config", "id" => "pie-chart", "type" => "pie"}
    .row
      .col-md-12
        %h3.gold Teams Chosen This Week:
        %table.table.gold
          %thead
            %tr
              %th{"width" => "70%"} Team 
              %th{"width" => "30%"} # of Picks
          %tbody
            %tr{"ng-repeat" => "team in sorted_picks"}
              %td
                %p {{team[0]}}
              %td
                %p {{team[1]}}


.row
  .col-sm-12.text-center
    .alert{"class" => "alert alert-{{alert.type}}"} {{alert.msg}}

%h4.gold Knocked Out This Week:

%table.table.gold
  %thead
    %tr
      %th{"width" => "40%"} Team Name
      %th{"width" => "60%"} Team Chosen

  %tbody{"ng-repeat" => "pool_entry in pool_entries_knocked_out_this_week"}
    %tr
      %td
        %p {{ pool_entry.team_name}} 
      %td
        %img{"ng-src" => "{{pool_entry.nfl_team.logo_url_small}}" }

%h4.gold Still Alive!
%p.gold Teams returned here are those still alive currently. At this time we are not able to show who was alive during a given week - only those who were knocked out during a given week. This feature will be added in the future.

%table.table.gold
  %thead
    %tr
      %th{"width" => "40%"} Team Name
      %th{"width" => "60%"} Team Chosen

  %tbody{"ng-repeat" => "pool_entry in pool_entries_still_alive"}
    %tr
      %td
        %p {{ pool_entry.team_name}} 
      %td 
        %img{"ng-src" => "{{pool_entry.nfl_team.logo_url_small}}" }
