%h1 Add Pool Entries for this Season!
.row
  .col-md-12
    .panel.panel-default{"ng-show" => "!user_needs_registration()"}
      .panel-heading
        %h3.panel-title Information on {{pool_entry_text()}}
      .panel-body
        %form.form-horizontal
          %div{"ng-repeat" => "pool_entry in registering_user.teams"}
            .col-sm-2
              %a.btn{"ng-class" => "team_button_class($index)", "ng-click" => "set_editing_team($index)", "ng-disabled" => "team_button_disabled($index)", :role => "button"} {{team_button_text($index)}}
          %br
            %br
              .form-group
                %label.col-sm-1 Team Name
                .col-sm-10
                  %input.form-control{:min => "1", "ng-disabled" => "team_button_disabled(editing_team-1)", "ng-model" => "registering_user.teams[editing_team-1].team_name", :type => "text"}
.row
  .col-md-4{"ng-repeat" => "pool_entry in registering_user.teams", "ng-show" => "!user_needs_registration()"}
    .panel.panel-warning
      .panel-heading
        .panel-title.text-center
          %h3
            {{registering_user.teams[$index].team_name}}
      .panel-body
        .text-right
          %span.badge {{team_badge_text($index)}}
        %br
          .text-center
            %h2
              %span.label.label-danger
                KOPOOL 2014
          %br
            .ticket-body
              %em
                %h4
                  .text-center {{registering_user.email}}
              %br
                .text-center
                  Price includes the price
                %br
                  %span.glyphicon.glyphicon-arrow-right
                  %span.glyphicon.glyphicon-arrow-right NO REFUNDS
                  %span.glyphicon.glyphicon-arrow-left
                  %span.glyphicon.glyphicon-arrow-left
                  %br
                    .text-right
                      %h3
                        $50.00
            %br
              .text-center
                %button.btn.btn-default.btn-lg
                  %span.glyphicon.glyphicon-hd-video
                %button.btn.btn-default.btn-lg
                  %span.glyphicon.glyphicon-sound-7-1
                %button.btn.btn-default.btn-lg
                  %span.glyphicon.glyphicon-sound-dolby