.jumbotron
  .container
    %h1 KO Pool
    %p We are using the {{controller}}.  Authorized: {{authorized()}}.  Username: {{username()}}
    %p
      %a.btn.btn-primary.btn-lg{role: "button"} Register »
.container
  / Example row of columns
  .row
    .col-md-4
      %h2 NFL Teams
      %p Using an ng-click here just for demonstration purposes. It is really better to use the static routes such as #/nfl_teams. Tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn.btn-primary{"ng-click" => "go('/nfl_teams')", role: "button"} NFL Teams »
    .col-md-4
      %h2 Weeks
      %p This is the admin interface for weeks.
      %p
        %a.btn.btn-success{href: "#/weeks", role: "button"} Setup Weeks »
    .col-md-4
      %h2 Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      %p
        %a.btn.btn-info{href: "#/seasons/2/weeks", role: "button"} Season 2 Weeks »
  %hr/
  %footer
    %p © Company 2014


