.jumbotron
  .container
    .row{"ng-if" => "session_message"}
      .col-sm-12.text-center
        .alert.alert-danger {{session_message}}
    .row{"ng-if" => "flash_message"}
      .col-sm-12.text-center
        .alert.alert-success {{flash_message}}
    .row
      .col-lg-4
        %a.btn.btn-warning.btn-.btn-block{"ng-show" => "is_authorized()", href: '#/weeks/{{web_state.current_week.id}}/matchups', role: "button"} 
          %h3 Picks »
      .col-lg-4
        %img.img-rounded.frontpage-logo{alt: "KO Pool Logo", src: asset_path('kopool-logo-2023.png')}
      .col-lg-4
        %a.btn.btn-warning.btn-lg.btn-block{"ng-show" => "is_authorized()", href: '#/weeks/{{web_state.current_week.id}}/results', role: "button"} 
          %h3 Results »
    .row
      .col-lg-4
        %a.btn.btn-warning{href: "#/users/passwords/send", "ng-hide" => "is_authorized()" } 
          %h4 Reset Password
      .col-lg-4{"ng-if" => "web_state.current_season.open_for_registration && !is_authorized()"}
        %a.btn.btn-warning.btn-lg.btn-block{href: "#/users/register", role: "button"}
          %h4 New Users Only - Register »
        %br
      .col-lg-4{"ng-if" => "web_state.current_season.open_for_registration && is_authorized()"}
        %a.btn.btn-warning.btn-lg.btn-block{id: "add-entries", href: "#/seasons/{{web_state.current_season.id}}/add_pool_entries", role: "button"} 
          %h3 Add/Edit Entries » 
    %br
    .row
      .alert.alert-success.lead.text-center{"ng-if" => "web_state.current_season.open_for_registration && !is_authorized()"} If you played in previous seasons, sign in to add new entries for the {{web_state.current_season.name}} season.
    .row
      .col-lg-4
      .col-lg-4{"ng-if" => "web_state.current_season.open_for_registration && is_authorized()"}
        %a.btn.btn-warning.btn-lg.btn-block{id: "add-entries", href: "#/registration/rules", role: "button"}
          %h3 Rules » 
    
    
    .row{"ng-show" => "is_authorized()"}
      .col-md-4
        %h2.text-center.gold Round
        %div.title-text.text-center.text-info {{display_round_number()}}
        
      .col-md-4
        %h2.text-center.gold Remaining
        %div.title-text.text-center.green {{active_pool_entries_count}}
        
      .col-md-4
        %h2.text-center.gold Purse
        %div.title-text.text-center.gold {{display_pot_amount() | currency}}
    .row
      .col-md-12
        %h2.text-center.smaller-title.gold From the Office of the Commish:
    .row
      .col-md-12
        .alert.alert-success.lead.text-center{"ng-show" => "is_authorized()"} {{web_state.broadcast_message}}
        .alert.alert-success.lead.text-center{"ng-hide" => "is_authorized()"} Registration will open August 15th
  .row{"ng-show" => "is_authorized()"}
    .col-md-12{ "ng-controller" => "KopoolChartsCtrl" }
      %div{ "ng-if" => "loaded && is_authorized()" }
      %div.text-center{ "style" => "height: 360px; width: 100%;" }
        %img{ "ng-src" => "{{main_page_image_url}}", "alt" => "main-page-image" }

.admin-panel{"ng-show" => "is_admin()"}
  .row
    .col-sm-12.text-center
      %h2.gold Admin Panel
    .col-md-4
      %h2.gold NFL Teams
      %h4.gold Administrators can use this 'NFL Teams' button to view, edit, and update NFL teams.  Make sure the teams are all in the correct Conference and Division.  Upload a nice looking logo for each team.  Any logo you upload will automatically be stored on your Amazon S3 account and will automatically be scaled to "Medium" (300x300) and "Thumbnail" (100x100) sizes.
      %p
        %a.btn.btn-info.btn-lg{"ng-click" => "go('/nfl_teams')", role: "button"} NFL Teams »
    .col-md-4
      %h2.gold View All Weeks
      %h4.gold Administrators can use this 'Weeks' button to view, edit, and update weeks.  Make sure all of the dates are correct.  You must always enter and edit them in international format: yyyy-mm-dd.  Also, currently there is a bug where the timezone is messing up the weeks.  You may have to enter hours also:  yyyy-mm-dd hh:mm.  Jack and Dave will discuss.
      %p
        %a.btn.btn-info.btn-lg{href: "#/seasons/{{web_state.season_id}}/weeks", role: "button"} View Weeks »
    .col-md-4
      %h2.gold Score Matchups
      %h4.gold Click here to score the matchups for this week!
      %p
        %a.btn.btn-success.btn-lg{href: "#/weeks/{{web_state.current_week.id}}/matchups/scoring", role: "button"} Score Matchups »
  .row
    .col-md-4
      %h2.gold Commissioner
      %h4.gold Commissioner maintenance page - for the commish only!  Lets you open/close a week for picks and also move to the next week.
      %p
        %a.btn.btn-success.btn-lg{href: "#/commissioner/web_state", role: "button"} Commissioner »
    .col-md-4
      %h2.gold View All Entries
      %h4.gold Use this page to view all of the entries to the competition. You can mark specific teams as paid or unpaid here.
      %p
        %a.btn.btn-success.btn-lg{href: "#/seasons/{{web_state.season_id}}/entries", role: "button"} View All Entries

    .col-md-4
      %h2.gold Database Management
      %h4.gold DB management page for updating specific tables.
      %p
        %a.btn.btn-danger.btn-lg{href: "/admin/users", role: "button"} Database Management »

%hr/
%footer
  %h5.gold © Dave Fugh 2023


