.jumbotron
  .container
    .row{"ng-if" => "session_message"}
      .col-sm-12.text-center
        .alert.alert-danger {{session_message}}
    .row{"ng-if" => "flash_message"}
      .col-sm-12.text-center
        .alert.alert-success {{flash_message}}
    .row
      .col-lg-4
        %a.btn.btn-success.btn-lg.btn-block{"ng-show" => "is_authorized()", href: '#/weeks/{{web_state.current_week.id}}/matchups', role: "button"} Picks »
      .col-lg-4
        %img.img-rounded.frontpage-logo{alt: "KO Pool Logo", src: asset_path('kopool_c_med.png')}
      .col-lg-4
        %a.btn.btn-success.btn-lg.btn-block{"ng-show" => "is_authorized()", href: '#/weeks/{{web_state.current_week.id}}/results', role: "button"} Results »
    .row
      .col-lg-4
        %a.btn.btn-info{href: "#/users/passwords/send", "ng-hide" => "is_authorized()" } Reset Password
      .col-lg-4{"ng-if" => "web_state.current_season.open_for_registration && !is_authorized()"}
        %a.btn.btn-warning.btn-lg.btn-block{href: "#/users/register", role: "button"} Register »
      .col-lg-4{"ng-if" => "web_state.current_season.open_for_registration && is_authorized()"}
        %a.btn.btn-warning.btn-lg.btn-block{href: "#/seasons/{{web_state.current_season.id}}/add_pool_entries", role: "button"} Add Pool Entries - {{web_state.current_season.name}} » 
    
    
    .row{"ng-show" => "is_authorized()"}
      .col-md-4
        %p.text-center Round
        %div.title-text.text-center.text-info {{display_round_number()}}
        
      .col-md-4
        %p.text-center Remaining
        %div.title-text.text-center.text-danger {{active_pool_entries_count}}
        
      .col-md-4
        %p.text-center Payout
        %div.title-text.text-center.green {{display_pot_amount() | currency}}

.row
  .col-md-12
    %p.text-center From the Office of the Commish:
    .alert.alert-info.lead.text-center {{web_state.broadcast_message}}

.row
  .col-md-12{"ng-controller" => "KopoolChartsCtrl"}
    %div{"ng-if" => "loaded"}
      %div{"ac-chart" => "'line'", "ac-data"=>"chart_data", "ac-config"=>"line_config", "id"=>"chart", "class"=>"line-chart"}

.admin-panel{"ng-show" => "is_admin()"}
  .row
    .col-sm-12.text-center
      %h4 Admin Panel
    .col-md-4
      %h2 NFL Teams
      %p Administrators can use this 'NFL Teams' button to view, edit, and update NFL teams.  Make sure the teams are all in the correct Conference and Division.  Upload a nice looking logo for each team.  Any logo you upload will automatically be stored on your Amazon S3 account and will automatically be scaled to "Medium" (300x300) and "Thumbnail" (100x100) sizes.
      %p
        %a.btn.btn-primary{"ng-click" => "go('/nfl_teams')", role: "button"} NFL Teams »
    .col-md-4
      %h2 View All Weeks
      %p Administrators can use this 'Weeks' button to view, edit, and update weeks.  Make sure all of the dates are correct.  You must always enter and edit them in international format: yyyy-mm-dd.  Also, currently there is a bug where the timezone is messing up the weeks.  You may have to enter hours also:  yyyy-mm-dd hh:mm.  Jack and Dave will discuss.
      %p
        %a.btn.btn-success{href: "#/seasons/{{web_state.season_id}}/weeks", role: "button"} View Weeks »
    .col-md-4
      %h2 Score Matchups
      %p Click here to score the matchups for this week!
      %p
        %a.btn.btn-info{href: "#/weeks/{{web_state.current_week.id}}/matchups/scoring", role: "button"} Score Matchups »
  .row
    .col-md-4
      %h2 Commissioner
      %p Commissioner maintenance page - for the commish only!  Lets you open/close a week for picks and also move to the next week.
      %p
        %a.btn.btn-info{href: "#/admin/web_state", role: "button"} Commissioner »
    .col-md-4
      %h2 View All Entries
      %p Use this page to view all of the entries to the competition. You can mark specific teams as paid or unpaid here.
      %p
        %a.btn.btn-info{href: "#/seasons/{{web_state.season_id}}/entries", role: "button"} View All Entries

  %hr/
  %footer
    %p © Dave Fugh 2014


