.navbar.navbar-inverse.navbar-fixed-top{"ng-controller" => "navbarCtrl", role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{href: "#"}{{display_name()}}
    .navbar-collapse.collapse
      %form.navbar-form.navbar-right{role: "form"}
        .form-group
          %input.form-control{"ng-model" => "login_user.email", placeholder: "Email", type: "text"}/
        .form-group
          %input.form-control{"ng-model" => "login_user.password", placeholder: "Password", type: "password"}/
        %button.btn.btn-success{"ng-click"=>"login_logout()", type: "submit"} {{button_sign_in_or_out()}}
    / /.navbar-collapse
