%a{href: "#/nfl_teams"}
  %button.btn.btn-default.btn-lg{type: "button"}
    %span.glyphicon.glyphicon-camera
    NFL Teams

%a{href: "#/seasons/1/weeks"}
  %button.btn.btn-default.btn-lg{type: "button"}
    %span.glyphicon.glyphicon-camera
    Season 1 weeks